@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home";
}

<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<!--Home-->
<h3>This is the Home default landing page.</h3>

<ul>                     <!--text, link-->
    <li>@Html.ActionLink("Page 1 - GET", "Page1")</li>
	<li>@Html.ActionLink("Page 2 - POST", "Page2")</li>
	<li>@Html.ActionLink("Page 3 - Model Binding", "Page3")</li>
</ul>



 