@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Page 2";
}

<div class="container">
    <form method="post">
		<div class="form-group">
			<h3>Calculate Volume of Boxes</h3>
                                    <!--Example of user need to do-->
			<p><b>Measures by inches</b> EX: <i>3" x 5" x 7"</i></p>
		</div>
        <div class="form-group">
			<div><!--Length Label/Input-->
                <label>Lenght: </label>
    			<input type="number" max="100" min="1" step="1" value="1" name="Length"/>
            </div>
			<div><!--Width Label/Input-->
    			<label>Width: </label>
                <input type="number" max="100" min="1" step="1" value="1" name="Width"/>
            </div>
			<div><!--Height Label/Input-->
    			<label>Height: </label>
                <input type="number" max="100" min="1" step="1" value="1" name="Height"/>
            </div>
		</div><!--Submit Button-->
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>


@if (IsPost){
    @*Checks values are Empty or Null*@
    if(@ViewBag.IsNull != "true"){
    <div class="form-group">
	    @*Creates Table*@
        <table class="table">
          <thead>
            <tr>
              <th>Length</th>
              <th>Width</th>
              <th>Height</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>@ViewBag.Lenght</td>
              <td>@ViewBag.Width</td>
              <td>@ViewBag.Height</td>
            </tr>
    	  </tbody>
        </table>
        @*Final Result*@
	    <p><b>Box Volume:</b> @ViewBag.Volume"</p>
	</div>

    }
    @*Error message displayed*@
    else{
        <h3>MISSING VALUE!</h3>
    }
}
    <!--Go Home Button-->
    <form action="/Home" method="get">
      <div class="input-group">
        <button type="submit"  class="btn btn-primary">Go Home</button>
      </div>
    </form>
        
