@model IEnumerable<AdventureWorks.Models.Product>

@{
    ViewBag.Title = "Clothing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2><u>Type of Clothing</u>: <small>Click on a Clothing Type</small></h2>

    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (string cloth in @ViewBag.Clothing)
                {
                    <th>
                        <form method="post">
                            <div class="btn-group btn-group-vertical">
                                <button class="btn btn-primary" name="cloth" value="@cloth">@cloth</button>
                            </div>
                        </form>
                    </th>
                }
            </tr>
        </thead>
    </table>
</div>



@if (IsPost)
{
    <div class="container">

        <div class="row text-center">
            <img src="~/Images/Clothing.jpg" class="img-thumbnail" alt="Adventure Picture">
        </div>

        <h3><u>The Clothing</u>: <small>Click on a link for more information</small></h3>

        <div class="col-lg-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Product Number</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model)
                {
                        <tr>
                            <td>
                                <a href="/SubCategory/Product?id=@c.ProductID">@c.Name</a>
                            </td>
                            <td>
                                @c.ProductNumber
                            </td>
                            <td>
                                $@c.ListPrice
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
